.main {
  padding: 158px 0 0px 0;
  @include for-size-max(max-md) {
    padding: 75px 0px;
  }
}
.main-build-something-wrapper{
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  @include for-size-max(max-md) {  
    padding-bottom: 50px;
  }
}
.main-build-something-swiper{
  position: relative;
  width: 50%;
}
.slider{
  overflow: hidden;
  width: 100%;
}
.slider-wrap{
  display: flex;
  width: 100%;
  height: 100%;
}
.swiper-button{
  display: flex;
  background-color: #f8f8f8;
  min-width: 30%;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  padding: 4px 0;
  height: 50px;
  right: 0;
  bottom: 0;
  border: 2px solid #252525;
  z-index: 2;
  @include for-size-max(max-md) {  
    min-width: 50%;
  }
  @include for-size-max(max-sm) {  
    min-width: 61%;
  }
  @include for-size(lg) { 
    height: 66px;
  }
  @include for-size(xl) { 
    height: 70px;
  }
  &::before {
    content: "";
    background: #252525;
    position: absolute;
    left: 50%;
    height: 75%;
    width: 1px;
    opacity: 0.2;
  }
}
button.btn-slide {
  width: 100%;
  height: 100%;
  position: static;
}
button.btn-slide,
button.btn-slide.icon-prev,
button.btn-slide.icon-next{
  transition: .3s ease-in .2s;
  color: $secondary-color;
  &:hover{
    background-color: $primary-color;
    color: $wh-color;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.icon-prev{
  transform: rotate(180deg);
  color: inherit;
}
.icon-next{
  color: inherit;
  transition: .3s ease 0s;
}
.main-build-something-text{
  padding-left: 20px;
  @include for-size(md) { 
    padding-left: 38px;
  }
  @include for-size(lg) { 
    padding-left: 44px;
  }
  @include for-size(xl) { 
    padding-left: 64px;
  }
}
.main-build-something-text-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 32px;
  @include for-size-max(max-sm) { 
    font-size: 25px;
  }
  @include for-size(md) { 
    font-size: 60px;
    line-height: 115%;
    letter-spacing: -0.015em;
  }
  @include for-size(lg) { 
    font-size: 75px;
    line-height: 109%;
    margin-bottom: 40px;
  }
  @include for-size(xl) { 
    font-size: 90px;
    margin-bottom: 46px;
  }
}
.main-build-something-text-link,
.main-build-something-text-link.icon{
  background-color: $primary-color;
  color: $wh-color;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 14px;
  transition: .3s ease-in .2s;
  &:hover{
    background-color: $wh-color;
    color: $primary-color;
  }
}
.icon{
  color: inherit;
  font-size: 10px;
  margin-left: 6px;
}
.slide-card{
  flex-shrink: 0;
}
.foto-img{
  height: 100%;
  width: 100%;
}

//Section2 -----------------------

.main-service-head{
  padding-top: 18px;
  padding-bottom: 32px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  @include for-size(md) { 
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
  @include for-size(lg) { 
    padding-top: 72px;
    padding-bottom: 72px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.main-service-head__title{
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: $secondary-color;
  max-width: 75%;
  @include for-size-max(max-md) { 
    font-size: 24px;
    max-width: 100%;
  }
  @include for-size(xl) { 
    font-size: 50px;
  }
}
.main-service-head__sub-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 48px;
  &::before{
    content: "";
    position: absolute;
    height: 2px;
    top: 45%;
    left: 0;
    bottom: 0;
    width: 32px;
    background-color: $primary-color;
  }
  @include for-size-max(max-md) { 
    font-size: 10px;
    line-height: 10px;
    padding-left: 27px;
    &::before{
      top: 40%;
      width: 20px;
    }
  }
  @include for-size(xl) { 
    &::before{
      top: 50%;
      width: 32px;
    }
  }
}


.main-service-head__link,
.main-service-head__link.icon-serv{
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $secondary-color;
  padding-bottom: 10px;
  transition: .3s ease-in .2s;
  &:hover{
    color: $primary-color;
  }
  @include for-size-max(max-md) { 
    font-size: 12px;
    margin-top: 16px;
  }
  @include for-size(lg) { 
    font-size: 12px;
    margin-top: 16px;
  }
  @include for-size(lg) { 
    font-size: 14px;
    margin-top: 0;

  }
}
.icon-serv{
  font-size: 10px;
  padding-left: 10px;
  color: inherit;
}

.main-service-card{
  display: flex;
  flex-direction: column;
  @include for-size-max(max-md) { 
    font-size: 12px;
  }
  @include for-size(lg) { 
    flex-direction: row;
  }
}
.main-service-card-wrapper{
  background-color: white;
  padding: 32px 16px 16px 32px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  &::before{
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 4px;
    height: 47px;
    background-color: $primary-color;
  }
  &:last-child{
    margin-right: 0;
  }
  @include for-size(lg) { 
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.main-service-card-wrapper__title{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  padding-top: 24px;
  padding-bottom: 16px;
  position: relative;
}
.main-service-card-wrapper__sub-title{
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #aba9af;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  position: absolute;
  top: 0;
}
.main-service-card-wrapper__text-card{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5f5f5f;
  text-align: left;
  font-family: 'Lato', sans-serif;
  padding-bottom: 50px;
}
.main-service-card-wrapper__plus{
  font-size: 41px;
  color: $secondary-color;
  height: 57px;
  width: 57px;
  padding: 0;
  margin: 0;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: .3s ease-in .2s;
  &:hover{
    color: $wh-color;
    background-color: $primary-color;
  }
}
.main-service-card-wrapper__plus--active{
  color: $wh-color;
  background-color: $primary-color;
  &:hover{
    color: $secondary-color;
    background-color: $wh-color;
  }
}

//Section3 -----------------------

.main-about-head{
  padding-top: 18px;
  padding-bottom: 0;
  margin-top: 50px;
  margin-bottom: 24px;
  @include for-size(md) { 
    align-items: flex-start;
    flex-direction: row;
  }
  @include for-size(lg) { 
    align-items: center;
  }
}
.main-service-about__title{
  margin-bottom: 16px;
  @include for-size(md) { 
    margin-bottom: 36px;
    max-width: 50%;
    padding-top: inherit;
  }
  @include for-size(lg) { 
    margin-bottom: 56px;
  }
}

.main-about-inner{
  margin-bottom: 32px;
  @include for-size(md) { 
    max-width: 50%;
  }
  @include for-size(lg) { 

  }
}
.main-about-inner__text{
  padding-bottom: 0px;
  margin-bottom: 16px;
}
.main-service-about__link{
  padding: 0;
}
.main-about-contact{
  background-color: $secondary-color;
  @include for-size-max(max-md) { 

  }
  @include for-size(lg) { 
    display: flex;
    justify-content: space-between;
  }
}
.main-about-contact__picture{
  @include for-size(lg) { 
    min-width: 50%;
  }
}

.main-about-contact__write{
  padding: 24px 20px;
  @include for-size(lg) { 
    padding: 32px 40px;
  }
}

.main-about-contact__write-wrapper-title{
  font-size: 20px;
  color: $wh-color;
  padding-bottom: 8px;
  padding-top: 0;
}
.main-about-contact__write-wrapper-text{
  padding-bottom: 20px;
}

.input-form{
  padding-top: 8px;
  &:first-child{
    padding-top: 0;
  }
  border-bottom: 2px solid $primary-color;
  position: relative;
  &::before{
    // content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
  }
}
input,
textarea{
  width: 100%;
  background-color: #3d3d3d;
  padding: 0;
  margin: 0;
  border: none;
  padding: 16px;
  color: $wh-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  &:active,
  &:focus{
    background-color: $wh-color;
    color: $primary-color;
  }
}
input{
  height: 47px;
}
textarea{
  min-height: 118px;
  min-width: 350px;
  resize: none;
  display: flex;
}

.main-about-contact__write-form-wrapper-input-label{
  color: white;
  padding-bottom: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}
.main-about-contact__write-form-send{
  margin-top: 20px;
  cursor: pointer;
}