html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  min-height: 100%;
}

body._lock {
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

*,
li,
a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff?h3nc6o") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo_fix:before {
  content: "\e900";
}

.icon-arrow_rev:before {
  content: "\e901";
}

.icon-arrow:before {
  content: "\e902";
  color: #fff;
}

.icon-logo:before {
  content: "\e903";
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #252525;
  -webkit-transition: .5s ease-out .2s;
  transition: .5s ease-out .2s;
}

.header._fix {
  background-color: white;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 118px;
}

@media (max-width: 768px) {
  .header-container {
    min-height: 60px;
  }
}

.header-logo {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.logo-img {
  -webkit-transition: .5s ease-out .2s;
  transition: .5s ease-out .2s;
}

.logo-img._fix {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media (max-width: 768px) {
  .logo-img {
    max-width: 62%;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.header-logo__txt {
  color: white;
  display: none;
}

.header-menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .header-menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 24px;
    height: 18px;
    cursor: pointer;
  }
  .header-menu__icon > span, .header-menu__icon::before, .header-menu__icon::after {
    position: absolute;
    height: 10%;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background-color: white;
  }
  .header-menu__icon::before, .header-menu__icon::after {
    content: "";
  }
  .header-menu__icon::before {
    top: 0;
    left: 0;
    width: 100%;
  }
  .header-menu__icon::after {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .header-menu__icon > span {
    top: 50%;
    width: 70%;
    right: 0;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header-menu__icon._active > span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header-menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header-menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header-menu__icon._fix > span {
    background-color: #252525;
  }
  .header-menu__icon._fix::before {
    background-color: #252525;
  }
  .header-menu__icon._fix::after {
    background-color: #252525;
  }
}

@media (max-width: 768px) {
  .header-menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 60px 0px 0px 0px;
    -webkit-transition: left .3s ease 0s;
    transition: left .3s ease 0s;
    overflow: auto;
  }
  .header-menu__body._active {
    left: 0;
  }
  .header-menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #252525;
    z-index: 2;
  }
  .header-menu__body._fix::before {
    background-color: white;
  }
}

@media (min-width: 768px) {
  .header-menu__body-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .header-menu__body-list {
    display: inherit;
    background-color: white;
    padding: 134px 15px;
  }
}

.header-menu__body-list-item {
  margin: 0 0 0 40px;
  border-bottom: 2px solid transparent;
}

.header-menu__body-list-item:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #7637dd;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .header-menu__body-list-item {
    margin: 0 0 72px 0;
    text-align: center;
  }
  .header-menu__body-list-item:hover {
    padding-bottom: 0;
    border-bottom: 2px solid transparent;
    text-transform: none;
  }
  .header-menu__body-list-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .header-menu__body-list-item {
    margin: 0 0 0 56px;
  }
}

.header-menu__body-list-item-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  -webkit-transition: .5s ease-out .2s;
  transition: .5s ease-out .2s;
}

.header-menu__body-list-item-link._fix {
  color: #252525;
}

@media (min-width: 768px) {
  .header-menu__body-list-item-link:hover {
    color: #7637dd;
  }
}

@media (max-width: 768px) {
  .header-menu__body-list-item-link {
    font-size: 24px;
    padding: 15px 40px;
    display: block;
    color: black;
  }
  .header-menu__body-list-item-link:hover {
    color: #7637dd;
  }
}

.main {
  padding: 158px 0 30px 0;
}

@media (max-width: 768px) {
  .main {
    padding: 75px 15px;
  }
}

h1 {
  font-size: 45px;
  padding: 25px 0 25px 0;
}

.container > h2 {
  font-size: 35px;
  padding: 20px 0 10px 0;
}

.container > h2 > p {
  padding: 20px 0 15px 0;
}

.main-build-something {
  border-bottom-color: #d90;
}

.main-service {
  border-bottom-color: #33d;
}

.main-about {
  border-bottom-color: #ccc333;
}
/*# sourceMappingURL=style.css.map */